/*  Dashboard widget styles
-----------------------------------------------*/

#julep-admin-widget {
  overflow: hidden;
  position: relative;

  .admin-widget-image {
    display: inline-block;
    margin-right: 5%;
    width: 30%;
    
    img {
      height: auto;
      max-width: 100%;
      width: auto;
    }
  }

  .admin-widget-content {
    display: inline-block;
    vertical-align: top;
    width: 65%;
  }
}